[submodule "AI"]
	path = AI
	url = https://github.com/gloomikon/AI
[submodule "GDK"]
	path = GDK
	url = https://github.com/gloomikon/GDK
[submodule "ASM"]
	path = ASM
	url = https://github.com/gloomikon/ASM.git
[submodule "SMTRPZ_1"]
	path = SMTRPZ_1
	url = https://github.com/gloomikon/SMTRPZ_1
[submodule "SMTRPZ_2"]
	path = SMTRPZ_2
	url = https://github.com/gloomikon/SMTRPZ_2
[submodule "SMTRPZ_3"]
	path = SMTRPZ_3
	url = https://github.com/gloomikon/SMTRPZ_3
[submodule "OOP"]
	path = OOP
	url = https://github.com/gloomikon/OOP
[submodule "Paradigms"]
	path = Paradigms
	url = https://github.com/gloomikon/Paradigms
[submodule "WEB"]
	path = WEB
	url = https://github.com/gloomikon/WEB
[submodule "KPI_Frontend"]
	path = KPI_Frontend
	url = https://github.com/gloomikon/KPI_Frontend
[submodule "ZIKS"]
	path = ZIKS
	url = https://github.com/gloomikon/ZIKS
