/* @media all and (max-width: 1000px) {
    .userPost {
        width: 90vw;
    }
}
@media all and (min-width: 1000px) {
    .userPost {
        width: 50vw;
     }      
}

.userPost { 
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    min-height: 20vh;
    box-sizing: content-box;
    margin: auto;   
    padding: 10px;
}
.userPost div{
    display: flex;
    justify-content: flex-end;
}
.userPost button{
    margin: 10px;
}
.userPost h1, .userPost p, .userPost input, .userPost textarea {
    margin: 10px;
    background-color: transparent;
}
.userPost input, .userPost textarea {
    text-align: center;
    border: 0px;
    width: 80%;
}
.userPost input, .userPost h1{
    font-weight: 600;
    font-size: 30px;
}
.userPost textarea, .userPost p {
    font-size: 15px;
}
.userPost textarea { 
    min-height: 10vh;
    overflow: hidden;
    resize: vertical;
}

.userPost img {
	max-width: 200px;
	max-height: 200px;
    float: left;
} */