<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>User info</h1>
<table>
    <tr >
        <td><b>Id: </b></td>
        <td th:text="${user.getId()}"></td>
    </tr>
    <tr>
        <td><b>Name: </b></td>
        <td th:text="${user.getName()}"></td>
    </tr>
    <tr>
        <td><b>Address: </b></td>
        <td th:text="${user.getAddress()}"></td>
    </tr>
    <p><a href="/users">Back</a></p>
</table>
</body>
</html>