<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="css/style.css">
	<title>Contacs</title>
</head>

<body>
<ul class="flex-container">
	<li class="flex-item header">
	<header>
		<ul>
		<li><img src="media/logo.png" alt="logo" class="logo"></li>
		<li>BT</li>
		<li class="headerSearch">
			<input placeholder="Search..." />
		</li>
		<li><button>Log out</button></li>
		</ul>
	</header>
	</li>
	<aside class="flex-item sidebar">
	<li>
		<ul class="nav">
		<li><a href="profile.html">Profile</a></li>
		<li><a href="index.html">Menu</a></li>
		<li><a href="music.html">Music</a></li>
		<li><a href="video.html">Video</a></li>
		<li><a href="contacts.html">Contacts</a></li>
		</ul>
	</li>
	</aside>
	<li class="flex-item main">
	<section class="flex-item main_header">
		Contacts
	</section>
	<article class="flex-item content">
		<h1>Fill the form for feedback!</h1>
		<form action="/contacts.html" method="POST" enctype="multipart/form-data">
			<p>Full name:</p><br>
			<input type="text" name = "fullname"> <br>
			<p>Organisation:</p><br>
			<input type="text" name = "organization"> <br>
			<p>Type of apllication:</p><br>
			<select name="app_type">
				<option>Press</option>
				<option>Partership</option>
				<option>Another</option>
			</select> <br>
			<p>Your message:</p><br>
			<textarea name="message"></textarea><br>
			<p>Attach file:</p><br>
			<input type="file" name="file"><br>
			<input type = "submit" value="SEND"><br>
		</form>
			case success
				when 'true'
					img(src = './media/success.png' width = "100px")
				when 'false'
					img(src = './media/failure.png' width = "100px")
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<pre>e-mail:		gloomikon@gmail.com <br></pre>
			<pre>github:		<a href="https://github.com/gloomikon">gloomikon</a><br></pre>
			<pre>telegram:	<a href="http://t.me/gloomikon">@gloomikon</a><br></pre>
			<pre>instagram:	<a href="https://www.instagram.com/nikolay.zhurba/">nikolay.zhurba</a><br></pre>
			<br>
			<br>
			<br>
			<br>
			<br>
	</article>
	</li>
	<li class="flex-item footer">(C) Designed by Kolumbia 2019</li>
</ul>
</body>
</html>